@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Unlock');

.App {
  text-align: center;
  padding: 30px;
}

.header {
  font-size: 20px;
  padding: 30px;
}

html, body {
  height: 100%;
}

html, body {
  background: linear-gradient(to bottom right, #d6d6d6, #f7f7f7);
  font-family: 'Lato', sans-serif;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #dddddd;
  margin-top: 20px;
  border-radius: 10px;
}